<html>
<body>

<p>Gene Set Enrichment Analysis (GSEA) is a computational method that determines whether
an a priori defined set of genes shows statistically significant, concordant differences between two biological states (e.g. phenotypes). Detailed
information is available at http://www.broadinstitute.org/gsea </p>

<p>
<b>References</b>
</p>

<ul type=disc>
 <li >Aravind Subramanian, Pablo Tamayo, Vamsi K. Mootha, Sayan Mukherjee, Benjamin L. Ebert, Michael A. Gillette,
     Amanda, Scott L. Pomeroy, Todd R. Golub, Eric S. Lander, and Jill P. Mesirov. Gene set enrichment analysis: A
     knowledge-based approach for interpreting genome-wide expression profiles. PNAS. October
     25, 2005, vol. 102, no. 43, 15545-15550
</li>
</ul>
</body>
</html>