<html>
<head>
</head>
<body>
<table border="1">
  <tbody>
    <tr>
      <th> Name </th>
      <th> Description </th>
    </tr>
    <tr>
      <td>kmax </td>
      <td>Try K=2,3,...,kmax clusters (must be &gt; 1) </td>
    </tr>
    <tr>
      <td>resampling iterations </td>
      <td>Number of resampling iterations </td>
    </tr>
    <tr>
      <td>seed value </td>
      <td>Random number generator seed </td>
    </tr>
    <tr>
      <td>clustering algorithm </td>
      <td>Type of clustering algorithm</td>
    </tr>
    <tr>
      <td>cluster by </td>
      <td>Whether to cluster by rows/genes or columns/experiments </td>
    </tr>
    <tr>
      <td>distance measure </td>
      <td>Distance measure </td>
    </tr>
    <tr>
      <td>resample </td>
      <td>resampling scheme (one of 'subsample[ratio]', 'features[nfeat]', 'nosampling')</td>
    </tr>
    <tr>
      <td>merge type </td>
      <td>Ignored when algorithm other than hierarchical selected </td>
    </tr>
    <tr>
      <td>descent iterations</td>
      <td>Number of SOM/NMF iterations</td>
    </tr>
    
    <tr>
      <td>normalize type</td>
      <td>row-wise, column-wise, both</td>
    </tr>
    <tr>
      <td>normalization iterations</td>
      <td>number of row/column normalization iterations (supercedes normalize.type)</td>
    </tr>
    <tr>
      <td>create heat map</td>
      <td>Whether to create heatmaps (one for each cluster number)</td>
    </tr>
    <tr>
      <td>heat map size</td>
      <td>point size of a consensus matrix's heat map (between 1 and 20)</td>
    </tr>
  </tbody>
</table>
</body>
</html>
